<div class="footer" style="text-align: center;">
	<a href="#" class="icon-facebook-alt" style="color: black;"></a>
	<a href="#" class="icon-twitter" style="color: black;"></a>
	<a href="#" class="icon-instagrem" style="color: black;"></a>
	<a href="#" class="icon-call-phone" style="color: black;"></a>
	<a href="#" class="icon-email-envelope" style="color: black;"></a>
</div>